.reminder-card {
  cursor: pointer;
}

.reminder-card > .reminder-details {
  display: none;
}

.reminder-card.expand > .reminder-details {
  display: block;
}

.basic-info,
.reminder-details {
  padding: 0.8em 1.6em;
}

.reminder-card .basic-info {
  border-radius: 6px;
  background-color: #f2f2f2;
}

.reminder-card:hover .basic-info {
  background-color: #eee;
}

.reminder-details {
  padding-top: 0;
  background-color: #fff;
}

.reminder-details.active {
  display: block;
}

.basic-info .reminder-name {
  margin-bottom: 0.4em;
}

.basic-info p {
  margin: 0;
}

.basic-info .upcoming-dates {
  font-size: 0.8em;
  color: #666;
}

.reminder-operations {
  padding: 0.6em;
}

.subreminders-container ul {
  margin-left: 0.6em;
  border-left: 2px solid #f2f2f2;
  padding: 0.8em;
}

.subreminders-container ul:hover {
  border-color: #bbb;
}

.subreminders-container ul:first-child {
  margin-left: 0;
}
