.reminder-card {
  margin-top: 0.6em;
  border-radius: 4px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}

.reminder-card.hover {
  background-color: #eee;
}

.basic-info,
.reminder-details {
  padding: 0.8em 1.6em;
}

.reminder-details {
  background-color: #fff;
  display: none;
}

.reminder-details.active {
  display: block;
}
