<ng-container *ngIf="(course$ | async) as course; else loading">
  <h2 class="page-header">{{ course.name }}</h2>
  <hr />
  <p>{{ course.description }}</p>
  <div class="course-details">
    <form>
      <div class="form-group">
        <label for="course_name">Course name</label>
        <input
          type="text"
          name="course_name"
          class="form-control"
          value="{{ course.name }}"
        />
      </div>
      <div class="form-group">
        <label for="course_name">End date</label>
        <input
          type="date"
          name="end_date"
          class="form-control"
          value="{{ course.endDate }}"
        />
      </div>
      <div class="form-group">
        <label for="course_name">Reminder link</label>
        <small>(send this link to students to sign up for reminders) </small>
        <a href="{{ course.registerLink }}"></a>
      </div>
      <div class="form-group">
        <label for="instructors">Instructors</label>
        <ul>
          <ng-container *ngFor="let instructor of course.instructors">
            <li>
              {{ instructor }}
            </li></ng-container
          >
        </ul>
      </div>
    </form>
  </div>
  <div class="reminders-container">
    <h3>Reminders</h3>
    <hr />
  </div>
</ng-container>
<app-reminder-create-widzard
  [courseId]="courseId"
></app-reminder-create-widzard>

<ng-container *ngIf="(reminders$ | async) as reminders; else loading">
  <ul>
    <ng-container *ngFor="let reminder of reminders">
      <li>
        <p>{{ reminder.name }}</p>
      </li>
    </ng-container>
  </ul>
</ng-container>
<ng-template #loading><app-spinner></app-spinner></ng-template>
