<div>
  <ng-container
    *ngIf="!(isLoading$ | async) && (course$ | async) as course; else loading"
  >
    <ng-container *ngIf="!(isError$ | async); else courseError">
      <h2 class="page-header">{{ course.name }}</h2>
      <p>{{ course.description }}</p>
      <hr />
      <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: currentTab === 'reminders' }"
              href="javascript:;"
              (click)="setCurrentTab('reminders')"
              >Reminders</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="javascript:;"
              [ngClass]="{ active: currentTab === 'settings' }"
              (click)="setCurrentTab('settings')"
              >Settings</a
            >
          </li>
        </ul>
        <div class="panel">
          <ng-container *ngIf="currentTab === 'reminders'"
            ><app-course-reminders [courseId]="courseId"></app-course-reminders>
          </ng-container>
          <ng-container *ngIf="currentTab === 'settings'">
            <app-course-settings></app-course-settings>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #courseError
  ><p class="padding-lg align-center">
    Failed to retrieve courseInfo.
  </p></ng-template
>
