<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="form-inline  col-md-10 col-sm-12">
    <a class="navbar-brand" [routerLink]="['/']"
      ><img
        style="height: 20px; line-height: 40px; vertical-align: middle"
        src="./assets/logo.png"
        alt=""
    /></a>
  </div>
  <div class="col-md-2 col-sm-12">
    <ng-container *ngIf="(currentUser$ | async) as user">
      <div class="dropdown user-dropdown">
        <a
          class="nav-link dropdown-toggle user"
          href="javascript:;"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{ user.firstname }} {{ user.lastname }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            href="javascript:;"
            [routerLink]="['/settings']"
            >Settings</a
          >
          <a class="dropdown-item" href="javascript:;" (click)="onSignOut()"
            >Sign out</a
          >
        </div>
      </div>
    </ng-container>
  </div>
</nav>
