.main-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  .main-container {
    flex: 1;

    .container-fluid, .row {
      height: 100%;
    }

    .side-bar-container {
      background-color: #f7f7f7;
      padding-top: 15px;
    }

    .content-container {
      padding: 1em;
    }
  }
}
