<div class="calendar-month-wrapper">
  <div>
    <div class="month-display-text">
      <p class="align-center">{{ monthDisplayText }}</p>
    </div>
    <div class="calendar-weekdays">
      <li class="calendar-row">
        <span class="calendar-col">SU</span>
        <span class="calendar-col">MO</span>
        <span class="calendar-col">TU</span>
        <span class="calendar-col">WE</span>
        <span class="calendar-col">TH</span>
        <span class="calendar-col">FR</span>
        <span class="calendar-col">SA</span>
      </li>
    </div>
    <div class="calendar-dates">
      <ul>
        <li class="calendar-row" *ngFor="let row of grid">
          <div class="calendar-col" *ngFor="let date of row">
            <span class="day-text">{{
              date !== undefined ? date.getDate() : ''
            }}</span>
            <div>
              <div
                class="markers"
                [ngClass]="{ focus: subremindersOnFocused !== null }"
              >
                <!-- event markers -->
                <ng-container *ngIf="date && (events$ | async) as events">
                  <ng-container *ngIf="events[date.getDate()]">
                    <ng-container
                      *ngFor="let item of events[date.getDate()].content"
                    >
                      <app-calendar-marker
                        [item]="item"
                        class="marker"
                      ></app-calendar-marker>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <!-- subreminder markers -->
                <ng-container
                  *ngIf="date && (subreminders$ | async) as subremindersMap"
                >
                  <ng-container
                    *ngIf="
                      subremindersMap &&
                      subremindersMap[date.getDate()] &&
                      subremindersMap[date.getDate()].content as subreminders
                    "
                  >
                    <ng-container *ngFor="let item of subreminders">
                      <app-calendar-marker
                        [item]="item"
                        class="marker"
                      ></app-calendar-marker>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
