.calendar-month-wrapper {
  padding: 0.8em 0;
}

.calendar-row {
  display: flex;
  padding: 0.2em;
}

.calendar-weekdays .calendar-row {
  margin-bottom: 1em;
}

.calendar-col {
  display: inline-block;
  padding: 0 0.6em;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  flex-basis: 14.2857%;
  max-width: 14.2857%;
  cursor: default;
}

.calendar-col .markers {
  display: flex;
  min-height: 1em;
}

.calendar-col .day-text {
  display: block;
}

.calendar-col .markers .marker {
  display: inline-block;
  flex: auto;
  flex-basis: 10%;
  min-width: 6px;
  height: 4px;
  margin: 1px;
  cursor: pointer;
}

.calendar-col .markers .marker.focused {
  background-color: #000;
}

.month-display-text {
  font-size: 16px;
  color: #555;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: default;
}

.calendar-weekdays {
  color: #888;
}

.calendar-dates {
  color: #555;
}
