<div class="calendar-month-wrapper">
  <div>
    <div class="month-display-text">
      <p class="align-center">{{ monthDisplayText }}</p>
    </div>
    <div class="calendar-weekdays">
      <li class="calendar-row">
        <span class="calendar-col">SU</span>
        <span class="calendar-col">MO</span>
        <span class="calendar-col">TU</span>
        <span class="calendar-col">WE</span>
        <span class="calendar-col">TH</span>
        <span class="calendar-col">FR</span>
        <span class="calendar-col">SA</span>
      </li>
    </div>
    <div class="calendar-dates">
      <ul>
        <li class="calendar-row" *ngFor="let row of grid">
          <div class="calendar-col" *ngFor="let date of row">
            <span class="day-text">{{
              date !== undefined ? date.getDate() : ''
            }}</span>
            <div class="markers">
              <ng-container
                *ngIf="date && (subreminders$ | async) as subreminders"
              >
                <ng-container *ngIf="subreminders[date.getDate()]">
                  <span
                    class="reminder-marker"
                    *ngFor="
                      let reminder of subreminders[date.getDate()].content
                    "
                  ></span
                ></ng-container>
              </ng-container>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
