<button class="btn btn-default" (click)="newReminder()">
  <i class="fas fa-plus"></i>
</button>
<div class="row">
  <div class="col-md-5">
    <ng-container
      *ngIf="
        !(isLoading$ | async) && (reminders$ | async) as reminders;
        else loading
      "
    >
      <ng-container *ngIf="!(error$ | async); else remindersError">
        <ng-container *ngIf="reminders.length > 0; else noReminders">
          <ul>
            <ng-container *ngFor="let reminder of reminders">
              <li>
                <app-reminder
                  [courseId]="courseId"
                  [reminder]="reminder"
                ></app-reminder>
              </li>
            </ng-container>
          </ul>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="col-md-7">
    <app-calendar></app-calendar>
  </div>
</div>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #remindersError
  ><p class="padding-md align-center">
    Failed to load reminders.
  </p></ng-template
>
<ng-template #noReminders
  ><p class="padding-md align-center">
    No reminders were created.
  </p>
</ng-template>
