<ng-container *ngIf="(course$ | async) as course">
  <div class="course-details" [ngClass]="{ readonly: !(privileged$ | async) }">
    <h5>Basic Info</h5>
    <hr />
    <div class="form-group">
      <label for="course_name">Course name</label>
      <input
        type="text"
        name="course_name"
        class="form-control"
        [(ngModel)]="courseTemp.name"
        (change)="onChange()"
        [disabled]="!(privileged$ | async)"
      />
    </div>
    <div class="form-group">
      <label for="course_name">End date</label><br />
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="endDate_picker"
          placeholder="Choose a date"
          [(ngModel)]="courseTemp.endDate"
          (dateChange)="onChange()"
          [disabled]="!(privileged$ | async)"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="endDate_picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #endDate_picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="course_name">Reminder link</label>
      <small>(send this link to students to sign up for reminders) </small>
      <br />
      <a [href]="getCourseLink(course)">{{ getCourseLink(course) }}</a>
    </div>
    <div class="form-group">
      <label for="instructors">Instructors</label>
      <ul>
        <ng-container *ngFor="let instructor of course.instructors">
          <li>
            {{ instructor.firstname }} {{ instructor.lastname }} ({{
              instructor.email
            }})
          </li></ng-container
        >
      </ul>
    </div>
    <h5>Planning Prompt</h5>
    <hr />
    <div class="form-group">
      <small
        >Research examining individual’s follow through on intentions has
        demonstrated that writing out a specific plan to engage in some future
        activity increases the likelihood that individuals will do so (e,g.,
        Milkman et al., 2011). By selecting the “include planning prompt option”
        students will be asked to produce a plan when they confirm their email
        address using a prompt you enter below (once the option is selected). A
        default generic prompt is provided but please feel free to customize it
        for your needs. The more specific the better.</small
      >
    </div>
    <div class="form-group form-check privileged">
      <input
        type="checkbox"
        class="form-check-input"
        name="include_planning_prompt"
        (change)="onChange()"
        [(ngModel)]="courseTemp.hasPlanningPrompt"
      />
      <label class="form-check-input-label" for="include_planning_prompt"
        >Include planning prompt</label
      >
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        name="description"
        rows="4"
        (change)="onChange()"
        *ngIf="courseTemp.hasPlanningPrompt"
        [(ngModel)]="courseTemp.planningPrompt"
        [disabled]="!(privileged$ | async)"
      ></textarea>
    </div>
    <div class="form-group privileged">
      <button class="btn btn-danger" (click)="onDeleteClick()">
        Delete this course
      </button>
    </div>
    <div class="btn-groups privileged">
      <button
        class="btn btn-warning"
        (click)="onSaveClick()"
        [disabled]="!changed"
      >
        Save
      </button>
    </div>
  </div>
</ng-container>
