.calendar-header {
  font-size: 1.6em;
  margin-bottom: 0.6em;
}

.curr-year {
  text-align: center;
}

.calendar-btn {
  display: block;
  cursor: pointer;
}

.prev-btn {
  text-align: left;
}

.next-btn {
  text-align: right;
}

.legends {
  text-align: left;
  margin-bottom: 3em;
}

.legends .legend {
  display: inline;
}

.legends .legend .legend-icon {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 0.4em;
}

.legends .legend .legend-desc {
  font-size: 14px;
}

.legends .legend {
  margin-right: 1em;
}
