<div class="row">
  <div class="col-12">
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        [routerLink]="['/', 'overview']"
        [ngClass]="{ active: currentTab === 'overview' }"
        >Overview</a
      >
      <a
        class="nav-link"
        [routerLink]="['/', 'course']"
        [ngClass]="{ active: currentTab === 'course' }"
        >Courses</a
      >
      <a
        class="nav-link"
        [routerLink]="['/', 'user']"
        [ngClass]="{ active: currentTab === 'user' }"
        >User Management</a
      >
      <a
        class="nav-link"
        [routerLink]="['/', 'message']"
        [ngClass]="{ active: currentTab === 'message' }"
        >Messages</a
      >
    </div>
  </div>
</div>
