<ng-container *ngIf="list">
  <ul class="recursive-list">
    <li
      class="recursive-list-item"
      *ngFor="let item of list"
      [ngClass]="{ expand: item.expand }"
      (mouseenter)="onFocus(item)"
      (mouseleave)="onClearFocus()"
    >
      <div class="list-header">
        <div>
          <a href="javascript:;" style="float: right; font-size: 0.8em;"
            >Delete</a
          >
        </div>
        <div class="caption-wrap" (click)="onClick(item)">
          <span class="connect-icon"></span>
          <span class="toggle-icon">❮</span>
          <p class="caption">
            {{ item.display }}
          </p>
        </div>
      </div>
      <div class="sub-list">
        <app-sub-reminder-list [map]="item.content"></app-sub-reminder-list>
      </div>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="subreminders">
  <ul>
    <li *ngFor="let subreminder of subreminders">
      <app-sub-reminder [subreminder]="subreminder"></app-sub-reminder>
    </li>
  </ul>
</ng-container>
