.recursive-list-item .sub-list {
  display: none;
}

.recursive-list-item.expand > .sub-list {
  display: block;
}

.recursive-list {
  border-left: 2px solid #f2f2f2;
}

.recursive-list-item {
  margin-left: 1.4em;
  border-top: 1px dotted #f2f2f2;
}

.recursive-list:hover,
.recursive-list-item:hover
  > .sub-list
  > app-sub-reminder-list
  > .recursive-list {
  border-color: #ddd;
}

.recursive-list-item:hover > .list-header .connect-icon,
.recursive-list-item:hover
  > .sub-list
  > app-sub-reminder-list
  > .recursive-list
  > .recursive-list-item
  > .list-header
  .connect-icon {
  background-color: #ddd;
}

.recursive-list-item:first-child {
  border-top: none;
}

.list-header-content,
.operations {
  position: relative;
  padding: 0.8em 0;
}

.list-header-content {
  z-index: 10;
}

.operations {
  float: right;
  z-index: 100;
}

.connect-icon,
.toggle-icon {
  position: absolute;
  display: inline-block;
}

.connect-icon {
  width: 0.6em;
  height: 2px;
  background-color: #f2f2f2;
  margin-top: -1px;
  left: -1.4em;
  top: 50%;
}

.recursive-list-item .toggle-icon {
  transform: rotate(90deg);
  color: rgba(0, 0, 0, 0.72);
  left: -0.2em;
}

.recursive-list-item.expand > .list-header .toggle-icon {
  transform: rotate(270deg);
}

.caption-wrap .caption {
  text-indent: 1.4em;
  margin: 0;
}
