<ng-container *ngIf="list">
  <ul class="recursive-list">
    <li class="recursive-list-item" *ngFor="let item of list">
      <div class="caption-wrap">
        <span class="connect-icon"></span>
        <span class="toggle-icon">❮</span>
        <p class="caption">{{ item.display }}</p>
      </div>
      <app-sub-reminder-list [map]="item.content"></app-sub-reminder-list>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="subreminders">
  <ul>
    <li *ngFor="let subreminder of subreminders">
      <app-sub-reminder [subreminder]="subreminder"></app-sub-reminder>
    </li>
  </ul>
</ng-container>
