<h4>
  Courses
</h4>
<hr />
<div>
  <button class="btn btn-default" (click)="onNewCourse()">
    <i class="fas fa-plus"></i>
  </button>
</div>
<ng-container
  *ngIf="!(isLoading$ | async) && (courses$ | async) as courses; else loading"
>
  <ng-container *ngIf="!(isError$ | async); else error">
    <ul>
      <ng-container *ngFor="let course of courses">
        <li class="course-list-item">
          <a
            class="item-card"
            [ngClass]="{ pending: !course.approved }"
            [routerLink]="['/course', course.id]"
          >
            {{ course.name }}
            <small *ngIf="!course.approved">(Pending)</small>
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</ng-container>
<ng-template #loading><app-spinner></app-spinner></ng-template>
<ng-template #error
  ><p class="padding-lg align-center">
    Failed to load courses.
  </p></ng-template
>
