.course-list-item {
  display: inline-block;
  margin: 0.6em;
}

.course-list-item .item-card {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.course-list-item .item-card:hover {
  background-color: #eee;
}

.course-list-item .item-card.pending {
  color: #888;
}
