<h4>User Management</h4>
<hr />
<ng-container *ngIf="!(isLoading$ | async); else loading">
  <table
    class="table table-hover user-table"
    [ngClass]="{ privileged: privileged$ | async }"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Groups</th>
        <th scope="col" class="operations-th">Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of (users$ | async)">
        <td>{{ user.firstname }} {{ user.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.groups.join(', ') }}</td>
        <td class="operations-td">
          <button
            class="btn btn-primary"
            *ngIf="!user.groups.includes('ADMIN')"
            (click)="onAssignAdmin(user.id)"
          >
            Assign admin
          </button>
          <button
            class="btn btn-warning"
            *ngIf="user.groups.includes('ADMIN')"
            (click)="onRemoveAdmin(user.id)"
          >
            Remove admin
          </button>
          <button class="btn btn-danger" (click)="onRemoveUser(user.id)">
            Remove User
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
