<h2 mat-dialog-title>Create New Course</h2>
<div mat-dialog-content>
  <h5>Basic Info</h5>
  <hr />
  <div class="form-group">
    <label for="courseName">Course name</label>
    <input
      type="text"
      name="courseName"
      class="form-control"
      [(ngModel)]="config.name"
    />
  </div>
  <div class="form-group">
    <label for="endDate">End date</label><br />
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="endDate_picker"
        placeholder="Choose a date"
        [(ngModel)]="config.endDate"
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="endDate_picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDate_picker></mat-datepicker>
    </mat-form-field>
  </div>
  <h5>Planning Prompt</h5>
  <hr />
  <div>
    <small
      >Research examining individual’s follow through on intentions has
      demonstrated that writing out a specific plan to engage in some future
      activity increases the likelihood that individuals will do so (e,g.,
      Milkman et al., 2011). By selecting the “include planning prompt option”
      students will be asked to produce a plan when they confirm their email
      address using a prompt you enter below (once the option is selected). A
      default generic prompt is provided but please feel free to customize it
      for your needs. The more specific the better.</small
    >
  </div>
  <br />
  <div class="form-group form-check">
    <input
      type="checkbox"
      name="include_planning_prompt"
      class="form-check-input"
      [(ngModel)]="config.hasPlanningPrompt"
    />
    <label for="include_planning_prompt" class="form-check-label"
      >Include planning prompt</label
    >
  </div>
  <div class="form-group">
    <textarea
      class="form-control planning-prompt"
      name="planning_prompt"
      cols="30"
      rows="4"
      [ngClass]="{ show: config.hasPlanningPrompt }"
      [(ngModel)]="config.planningPrompt"
      [defaultValue]=""
    ></textarea>
  </div>
</div>
<div mat-dialog-actions class="button-group">
  <button mat-button (click)="onCreateClick()">
    Create
  </button>
  <button mat-button (click)="onCancelClick()">
    Cancel
  </button>
</div>
