<div class="subreminder-container">
  <div class="type-indicator">
    <span class="type-marker {{ type }}-marker"></span>
  </div>
  <div class="info-wrap">
    <div>
      <b>Time: </b><span style="margin-right: 1em">{{ getTime() }}</span>
      <a href="javascript:;" onclick="alert('Feature not avaliable yet.')"
        >Edit</a
      >
    </div>
    <hr />
    <div class="operations">
      <a href="javascript:;" onclick="alert('Feature not avaliable yet.')"
        >Edit message</a
      >
      <a href="javascript:;" onclick="alert('Feature not avaliable yet.')"
        >Disable</a
      >
      <a
        href="javascript:;"
        style=" float: right;text-align: right;margin-right: 0"
        onclick="alert('Feature not avaliable yet.')"
        >Delete</a
      >
    </div>
  </div>
</div>
