<h2 mat-dialog-title>Edit Email</h2>
<div mat-dialog-content>
  <div id="editor">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          href="javascript:;"
          [ngClass]="{ active: currentTab === 'html' }"
          (click)="chooseTab('html')"
          >HTML</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="javascript:;"
          [ngClass]="{ active: currentTab === 'plain' }"
          (click)="chooseTab('plain')"
          >Plain Text</a
        >
      </li>
    </ul>
    <br />
    <div class="primary">
      <ng-container *ngIf="currentTab === 'html'; else plain">
        <app-html-email-editor></app-html-email-editor>
      </ng-container>
    </div>
  </div>
</div>
<div mat-dialog-actions class="button-group">
  <button mat-button (click)="onSave()">
    Save
  </button>
  <button mat-button (click)="onCancel()">
    Cancel
  </button>
</div>
<ng-template #plain>
  <app-plain-text-editor></app-plain-text-editor>
</ng-template>
