@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.item-card {
  display: inline-block;
  background-color: #f9f9f9;
  padding: 1em 1.6em;
  min-width: 80px;
  border-radius: 4px;
  cursor: pointer;
}

.margin-sm {
  margin: 0.6em;
}

.margin-top-sm {
  margin-top: 0.6em;
}

.margin-bottom-sm {
  margin-bottom: 0.6em;
}

.margin-bottom-md {
  margin-bottom: 1em;
}

.padding-md {
  padding: 1em;
}

.padding-lg {
  padding: 2em;
}

.align-center {
  text-align: center;
}
